.centered-content{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.task-manager-container
{
    
    display:flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 600px;
    background: white;
}
.sidebar
{
    display: flex;
    flex-direction: column;
    width: 250px;
   
    background: white;
    padding: 42px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.tasks-list-container
{
    position: relative;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    padding: 42px;
    background: lightgray;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
   
}
.title
{
    font-family: 'Lato';
    font-size: 30px bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.list-menu
{
display: flex;
flex-direction: column;
margin-top: 10px;
flex-grow: 1;

}
.list-menu-item{

    display: flex;
    align-items: center;
    padding:5px 10x;
    border-radius: 5px;
    width:100%;
    color: #332d2d;
    margin-bottom: 5px;
    
}
.list-menu-item:hover
{
    background-color: lightgray;
}
.is-active
{
background-color: lightgreen;
color:darkgray;
}
.task{
background: white;
padding: 10px 13px;
border-radius: 5px;
margin-top: 6px;



}
.task:hover{
box-shadow:0 0 0 5px #eeeeee;
}
.task:active
{
    transform: scale(0.95);
}
.complete
{
    text-decoration: line-through;
    opacity: 0.8;
}
.btn-circle.btn-sm { 
    width: 50px; 
    height: 50px; 
 background: green;
    border-radius: 50%; 
  font-size: 30px;
   text-align: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
} 
.notasks
{
    font-size: 35px;
    color: rgb(51, 49, 49);
    text-align: center;
    padding: 5px;
    
}