<div class="centered-content">
    <div class="model-box">
       
        <h1 class="tittle">
            createtask
        </h1>
        
<div class="input-group mb-3">
  <input type="text" class="form-control bg-white" id="demo" #taskvalue placeholder="Enter your task">
  <div class="input-group-append">
    <button class="btn btn-success">addtask</button>
  </div>
</div>
<div class="container">
    <div class="row">

<button  class="btnn btn-primary" routerLink="" (click)="createtask(taskvalue.value)">create</button>
<button  class="btnn btn-danger" routerLink="/">cancel</button>
</div>
</div>
    </div>
</div>